<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrageHRM">
  <test thread-count="5" name="Four_Modules">
    <classes>
      <class name="com.Tests.ForgotPasswordPageTests"/>
      <class name="com.Tests.LoginTestsExelData"/>
      <class name="com.Tests.LoginTests"/>
      <class name="com.Tests.HomePageTests"/>
    </classes>
  </test> <!-- TwoClasses -->
</suite> <!-- OrageHRM -->
